<!DOCTYPE html>
<html lang="en">


<!-- molla/index-4.html  22 Nov 2019 09:53:08 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hà Tú Mobile</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/clientApp/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <link href="/toastr/css/toastr.min.css" rel="stylesheet">
    <!-- Plugins CSS File -->

    <link rel="stylesheet" href="/clientApp/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/clientApp/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/clientApp/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/clientApp/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/clientApp/assets/css/skins/skin-demo-4.css">
    <link rel="stylesheet" href="/clientApp/assets/css/demos/demo-4.css">
    <link rel="stylesheet" href="/clientApp/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    @if (ViewData["Title"] == "Login")
    {
        <link rel="stylesheet" href="~/css/login_css.css">
    }
    @if (ViewData["Title"] == "Register")
    {
        <link rel="stylesheet" href="~/css/login_css.css">
        <link rel="stylesheet" href="~/css/regeiter.css">
    }
    <link rel="stylesheet" href="/clientApp/assets/css/plugins/nouislider/nouislider.css">
</head>

<body>
    <style>
        body {
            font-family: Roboto !important;
        }


    </style>
    <style>
        .toast-error {
            background-color: #BD362F !important;
            font-size: 1.4rem !important;
        }
    </style>
    <div class="page-wrapper">
        <header class="header header-intro-clearance header-4">
            <div class="header-middle">
                <div class="container">
                    <div class="header-left" style="height:100px;">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a asp-action="Index" asp-controller="Home" class="logo">
                            <img src="/Logo.png" alt="Molla Logo" style="height:60px; width:200px; object-fit:cover;">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form asp-action="Index" asp-controller="Product" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="keyword" id="q" placeholder="Tìm kiếm thông tin ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <div class="icon">
                                        <i class="fa-regular fa-user fa-xs"></i>
                                    </div>
                                    <p>Tài khoản</p>
                                }
                                else
                                {
                                    <a href="" class="account_icon">Xin chào @User.Identity.Name</a>
                                }
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" style="width: 200px;">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <ul class="compare-products">

                                        <li class="compare-product"> <h5 class="compare-product-title"><a asp-action="Index" asp-controller="Cart" style="font-size:16px;"> Giỏ hàng</a></h5></li>
                                        <li class="compare-product"> <h5 class="compare-product-title"><a asp-action="CheckOutDetail" asp-controller="Cart" style="font-size:16px;"> Đơn hàng</a></h5></li>
                                        <li class="compare-product">
                                            <h5 class="compare-product-title"><a asp-action="Logout" asp-controller="Account" style="font-size:16px;"> Đăng xuất</a></h5>
                                        </li>
                                    </ul>

                                }
                                else
                                {

                                    <ul class="compare-products">
                                        <li class="compare-product">
                                            <h5 class="compare-product-title"><a asp-action="Register" asp-controller="Account" style="font-size:16px;">Đăng kí</a></h5>
                                        </li>
                                        <li class="compare-product">
                                            <h5 class="compare-product-title"><a asp-action="Login" asp-controller="Account" style="font-size:16px;"> Đăng nhập</a></h5>
                                        </li>
                                    </ul>

                                }

                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .compare-dropdown -->
                        <div class="dropdown cart-dropdown">
                            <a class="dropdown-toggle" asp-action="Index" asp-controller="Cart">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                </div>
                                <p>Giỏ hàng</p>
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container justify-content-between">
                    <div class="header-center">
                        <nav class="main-nav w-100">
                            <ul class="menu sf-arrows justify-content-between">
                                <li class="megamenu-container active">
                                    <a asp-action="Index" asp-controller="Home" style="font-size:17px;">Trang chủ</a>
                                </li>
                                <li>
                                    <a  style="font-size:17px;">Giới thiệu</a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Product" style="font-size:17px;">Sản phẩm</a>
                                </li>
                                <li>
                                    <a  style="font-size:17px;">Tin tức</a>
                                </li>
                                <li>
                                    <a  style="font-size:17px;">Liên hệ</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <div>
            @RenderBody()
        </div>

        <footer class="footer">
            @* <div class="cta bg-image bg-dark pt-4 pb-5 mb-0" style="background-image: url(assets/images/demos/demo-4/bg-5.jpg);">
            <div class="container">
            <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="cta-heading text-center">
            <h3 class="cta-title text-white">Để lại thông tin để nhận khuyến mãi mới nhất</h3><!-- End .cta-title -->
            </div><!-- End .text-center -->
            <form action="#">
            <div class="input-group input-group-round">
            <input type="email" class="form-control form-control-white" placeholder="Enter your Email Address" aria-label="Email Adress" required>
            <div class="input-group-append">
            <button class="btn btn-primary" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
            </div><!-- .End .input-group-append -->
            </div><!-- .End .input-group -->
            </form>
            </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
            </div><!-- End .row -->
            </div><!-- End .container -->
            </div><!-- End .cta --> *@
            <div class="footer-middle" style="padding:10px;">
                <div class="container" style="
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
">
                    <div class="row align-items-center justify-content-between">
                        <div class="row widget widget-about justify-content-between align-items-center" style="margin:0;">
                            <img src="/Logo.png" class="footer-logo" alt="Footer Logo" style=" margin:0;   height: 60px;
    width: 200px;
    object-fit: cover;" width="105" height="25">
                            <p style="margin:0;">Cửa hàng bán thiết bị di động <strong>Hà Tú Mobile </strong> </p>
                            <div class="widget-call">
                                <i class="icon-phone"></i>
                                Liên hệ 24/7
                                <a href="tel:#"> 0823.04.8888 </a>
                            </div><!-- End .widget-call -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a asp-action="Index" asp-controller="Home">Trang chủ</a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Home">Giới thiệu</a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Home">Sản phẩm</a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Home">Tin tức</a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Home">Liên hệ</a>
                            </li>
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->


        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Sign in / Register Modal -->
    <!-- Plugins JS File -->
    <script src="/clientApp/assets/js/jquery.min.js"></script>
    <script src="/clientApp/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/clientApp/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/clientApp/assets/js/jquery.waypoints.min.js"></script>
    <script src="/clientApp/assets/js/superfish.min.js"></script>
    <script src="/clientApp/assets/js/owl.carousel.min.js"></script>
    <script src="/clientApp/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/clientApp/assets/js/jquery.plugin.min.js"></script>
    <script src="/clientApp/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/clientApp/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="/clientApp/assets/js/main.js"></script>
    <script src="/clientApp/assets/js/demos/demo-4.js"></script>
    <script src="/clientApp/assets/js/nouislider.min.js"></script>
    <script src="/toastr/js/toastr.init.js"></script>
    <script src="/toastr/js/toastr.min.js"></script>
</body>


<!-- molla/index-4.html  22 Nov 2019 09:54:18 GMT -->
</html>