
@{
    ViewData["Title"] = "ComfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <p>
                    Bạn đã hoàn thành xác thực email.
                    Hãy <a asp-controller="Account" asp-action="Login">bấm vào đây để đăng nhập</a>.
                </p>
            </div>
        </div>
        
    </div>

</main>


