@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-content" style="margin: 0 300px 100px;
}">
    <div class="title-login">ĐĂNG NHẬP TÀI KHOẢN</div>

    <div class="login-form">
        <form action="/Account/Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="">Tài khoản</label>
                <input type="text" name="UserName" class="form-control" id="" class="form-g" placeholder="Nhập tài khoản" required>
            </div>
            <div class="form-group">
                <label for="">Mật khẩu</label>
                <input type="password" name="Password" class="form-control" id="" placeholder="Nhập mật khẩu" required>
            </div>
            <div class="form-group row justify-content-center">
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </div>
        </form>
    </div>
    <a href="" class="forget-password">Quên mật khẩu ? </a>
    <div class="regeiter-now">
        Bạn chưa có tài khoản. Đăng ký <a href="@Url.Action("Register","Account")">tại đây </a>
    </div>
</div> 